.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: #fff;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    display: none;
    transition: all 0.5s ease;
}

.sidebar .logo-details {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-details .logo_name {
    color: #000;
    font-weight: 600;
    transition: 0s;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    display: none;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 0px;
    overflow: auto;
    background-color: #fff;
    margin: 0px;
}

.sidebar.close .nav-links {
    /* overflow: hidden; */
    display: none;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    /* display: block; */
    display: none;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-weight: 400;
    color: #000;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #f8f9fa;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    margin-top: 0px;
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: rgb(117, 117, 117);
    padding: 5px 0;
    width: min-content;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    color: #000;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}


.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
    justify-content: center;
}

.sidebar.close .profile-details {
    display: none;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 14px;
    margin-right: 14px;
    background: #fff;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 4px;
}

.sidebar .profile-details .profile_name {
    color: #000;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name {
    display: none;
}

.home-section {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 0px;
    width: calc(100%);
}
section{
    margin: 0px;
}
.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #000;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 99;
    padding: 21px;
    background-color: #7a9570;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
}
.sidebar #btnClose {
    display: none;
}
@media (max-width: 414px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        width: 100vw;
    }
    .sidebar .profile-details {
        width: 100vw;
    }
    .sidebar #btnClose {
        display: block;
        position: absolute;
        right: 0px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
}
