#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#calendar .fc-view-container {
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
