.wallpaper-home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1;
}

.imgHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3;
    filter: brightness(0.8);
}

.text {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.text h1 {
    font-size: 70px;
    font-weight: lighter;
    text-transform: uppercase;
}

.text p {
    font-size: 17px;
}

.map {
    height: 140px;
    width: 140px;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 99;
    padding: 21px;
    background-color: #198754;
}

#toTopBtn:hover {
    background-color: #6c8463;
}

#toTopBtn:focus {
    box-shadow: 0 0 0 0.25rem rgba(122, 149, 112, 0.5);
}

.cd-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .col ul,
    .col h5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
